<div class="lucid-shape-group" ng-class="{ 'custom-library' : custom, 'disabled' : $root.draggingshape && !custom,'lucid-hide-shapes': hideshapes }">
    <div class="pin-library">
        <img class="lucid-icon-22" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-pin-font-awesome.svg">
    </div>
    <div class="shape-group-top">
        
        <span class="edit-in-place shape-group-name" ng-bind="name" ng-show="!$parent.shapegroup.edit"></span>
        <input id="name-input" class="edit-in-place" placeholder="Group Name" ng-model="name" ng-show="$parent.shapegroup.edit" ng-enter="$parent.shapegroup.edit=false" click-outside="$parent.shapegroup.edit=false"  outside-if-not="name-input, new-shapegroup"></input>

        <div class="lucid-shape-group-top-right-icons" ng-show="custom">
            <span class="pipe-right">Import</span>
            
            <div class="lucid-select-wrapper gear-dropdown">
                <div class="selected-option-wrapper" ng-click="showdropdown = !showdropdown">
                    <img class="lucid-icon-22" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-gear-white.svg" ng-click="optionmenu=!optionmenu">
                </div>
                <div class="lucid-select-dropdown" ng-show="showdropdown" ng-click="showdropdown=false">
                    <ul>
                        <li class="lucid-select-option">Share</li>
                        <li class="lucid-select-option" ng-click="$parent.shapegroup.edit=true">Rename</li>
                        <li class="lucid-select-option">Duplicate</li>
                        <li class="lucid-select-option" ng-click="$parent.customshapes.splice($index, 1)">Delete</li>

                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="slide-toggle" ng-hide="hideshapes">
        <ul dnd-list="shapes"
            dnd-allowed-types="[custom]"
            dnd-horizontal-list="true"
            dnd-external-sources="true"
            dnd-dragover="dragoverCallback(event, index, external, type)"
            dnd-drop="dropCallback(event, index, item, external, type, 'shape')"
            dnd-inserted="logEvent('Element was inserted at position ' + index, event)"
            class="itemlist">
            <li ng-repeat="shape in shapes"
                dnd-draggable="shape"
                dnd-type="'true'"
                dnd-effect-allowed="{{dragEffect}}"
                dnd-dragstart="logEvent('Started to drag an item', event); $root.draggingshape=true;"
                dnd-moved="shapes.splice($index, 1); logEvent('Item moved', event)"
                dnd-copied="logEvent('Item copied', event)"
                dnd-canceled="logEvent('Drag operation canceled', event)"
                dnd-dragend="logEvent('Drag operation ended', event); $root.draggingshape=false;"
                class="lucid-shape">  
                <lucid-shape ng-if="!shape.svg" shape="{{shape.name}}" fill="{{shape.fill}}" strokecolor="{{shape.stroke}}" textcolor="{{shape.text}}" height="28" width="28" strokewidth="{{shape.strokewidth}}" radius="{{shape.radius}}">
                </lucid-shape>
                <div ng-if="shape.svg" ng-bind-html="shape.svg | sanitize"> </div>

            </li>
        </ul>
    </div>
    <div class="lucid-drop-area" ng-drop="true" ng-drop-success="onDropComplete($data, $event, shapegroup)" ng-if="shapegroup.custom">
        <span class="lucid-save-shapes-hint" ng-hide="shapegroup.shapes.length > 0">Drag shapes here to reuse</span>
    </div>
</div>