.import-options {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 8px 15px;
    border-top: 1px solid #B7B7B7;
    width: 100%;
    background: #E8E9EA;
    z-index: 1;
    >img{
    	mix-blend-mode: multiply;
    	cursor:pointer;
    }
    &.ng-hide{
    	bottom:-50px;
    }
    &.ng-animate{
    	transition:.25s ease-in-out all;
    }
}