.hljs-comment, .diff .hljs-header{
	font-family:monospace;
	font-style: normal;
}
.hljs{
	padding:1em;
}
.code-embed-container-push{
	height:300px;
	}
.code-embed-container{
	position: fixed;
    bottom: 0;
    left: 250px;
    right: 0;
    background:#fff;
    .lucid-drawer-wrapper .lucid-popover-menu-drawer{
    	padding:0;
    }
}