<!DOCTYPE html>
<html ng-app="particleApp">

<head>
    <title>Lucid Particle Design</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,300' rel='stylesheet' type='text/css'>
    <!-- Angular Stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js" type="text/javascript"></script>
    <!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
    <!-- this is for highlighting code -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
    <script src="js/angular-highlightjs.min.js"></script>
    <!-- end highlight code -->
    <!-- Main Styles -->
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <!-- Loading Angular components and js -->
    <script src="components/0.0/components-min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/component-data.js" type="text/javascript"></script>
    <script src="js/icon-data.js"></script>
    <script src="js/snippets-data.js"></script>
    <!-- Outside Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>
    <script src="http://static.jsbin.com/js/embed.js"></script>
</head>

<body ng-controller="mainController">
    <!-- STATIC SIDEBAR -->
    <section id="sidebar">
        <header>
            <div id="logo">
                <a href="#/"><img src="img/particle-logo-2-2.svg" /></a>
                <div class="particle-group" ng-click="explode=!explode" ng-class="{'explode-particle': explode}">
                    <div class="particle particle-1"></div>
                    <div class="particle particle-2"></div>
                    <div class="particle particle-3"></div>
                    <div class="particle particle-4"></div>
                    <div class="particle particle-5"></div>
                    <div class="particle particle-1 duplicate"></div>
                    <div class="particle particle-2 duplicate"></div>
                    <div class="particle particle-3 duplicate"></div>
                    <div class="particle particle-4 duplicate"></div>
                    <div class="particle particle-5 duplicate"></div>
                    <div class="particle branch-1"></div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="fancy-goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                            <feComposite in="SourceGraphic" in2="goo" operator="atop" />
                        </filter>
                    </defs>
                </svg>
            </div>
        </header>
        <ul class="reversed-text">
            <li class="list-header">
                <i class="l-icon l-icon-compass"></i> Setup
            </li>
            <li><a href="#/get-started" ng-class="{ active: isActive('/','get-started') }">Getting Started</a></li>
            <li><a href="#/angular" ng-class="{ active: isActive('/','angular') }">Angular Snippets</a></li>
        </ul>
        <ul class="reversed-text">
            <li class="list-header">
                <i class="l-icon l-icon-finger"></i> Components
            </li>
            <li><a href="#/icons" ng-class="{ active: isActive('/icons', '') }">Icons</a></li>
            <li ng-repeat="componentGroup in componentGroups">
                <a href="#/components/{{componentGroup.groupid}}" ng-class="{ active: isActive('/components/', componentGroup.groupid) }">{{componentGroup.groupname}}</a>
            </li>
        </ul>
    </section>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <section id="content">
        <div class="wrapper">
            <div ng-view></div>
        </div>
    </section>
</body>

</html>