<button 
	class="lucid-button lucid-blue"
	tooltips 
	tooltip-side="left"
	tooltip-hide-trigger="click mouseleave"
	tooltip-template="Tooltip Text">
	Left
</button>
<button 
	class="lucid-button lucid-blue"
	tooltips 
	tooltip-side="top"
	tooltip-hide-trigger="click mouseleave"
	tooltip-template="Tooltip Text">
	Top
</button>
<button 
	class="lucid-button lucid-blue"
	tooltips 
	tooltip-side="bottom"
	tooltip-hide-trigger="click mouseleave"
	tooltip-template="Tooltip Text">
	Bottom
</button>
<button 
	class="lucid-button lucid-blue"
	tooltips 
	tooltip-side="right"
	tooltip-hide-trigger="click mouseleave"
	tooltip-template="Tooltip Text">
	Right
</button>
<div style="display: inline-block;"
	tooltips 
	has-popover="true"
	tooltip-side="bottom"
	tooltip-hide-trigger="click mouseleave"
	tooltip-template="Tooltip Text">
<lucid-buttcon-popover class="popover-list" showpopover="dropdown.show" icon="http://particle.golucid.co/components/1.2/icon/icons/icon-image-22px.svg" width="105">
    <div class="lucid-select-wrapper">
        <ul class="lucid-select-dropdown" ng-click="dropdown.show = false;">
            <li>
                Image
            </li>
            <li>
                SVG
            </li>
            <li>
                Visio Stencil
            </li>
        </ul>
    </div>
</lucid-buttcon-popover>
</div>
