<lucid-tooltip tooltip="Dropdown Option" position="bottom" popover="{{dropdown.show}}">
    <lucid-buttcon-popover class="popover-list" showpopover="dropdown.show" icon="http://particle.golucid.co/components/1.2/icon/icons/icon-image-22px.svg" width="125">
        <ul ng-click="dropdown.show = false;">
            <li>
                Image
            </li>
            <li>
                SVG
            </li>
            <li>
                Visio Stencil
            </li>
        </ul>
    </lucid-buttcon-popover>
</lucid-tooltip>
<lucid-tooltip tooltip="Tooltip" hotkey="⌘T" position="up">
    <button class="lucid-button lucid-blue">
        Up
    </button>
</lucid-tooltip>
<lucid-tooltip tooltip="Tooltip" hotkey="⌘T" position="right">
    <button class="lucid-button lucid-blue">
        Right
    </button>
</lucid-tooltip>
<lucid-tooltip tooltip="Tooltip" hotkey="⌘T" position="bottom">
    <button class="lucid-button lucid-blue">
        Bottom
    </button>
</lucid-tooltip>
<lucid-tooltip tooltip="Tooltip" hotkey="⌘T" position="left">
    <button class="lucid-button lucid-blue">
        Left
    </button>
</lucid-tooltip>