<ul class="pages">
    <li>
        <lucid-page name="Page 1 with a really long title what is going on here can I read it" id="1" thumbnail="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/template-white.png" selected="selectedPage">
        </lucid-page>
    </li>
    <li>
        <lucid-page name="Page 2" id="2" master="true" selected="selectedPage"></lucid-page>
    </li>
    <li>
        <lucid-page name="Page 3" id="3" masterapplied="true" selected="selectedPage"></lucid-page>
    </li>
</ul>