<div style="height:300px;">
    <lucid-top-tabs>
        <lucid-top-tab name="First Tabby" icon="http://particle.golucid.co/components/0.0/icon/img/html-dark.svg" selected>
            Tab 1
        </lucid-top-tab>
        <lucid-top-tab name="Second Tab">
            Tab 2
        </lucid-top-tab>
        <lucid-top-tab name="Third Tab">
            Tab 3
        </lucid-top-tab>
        <lucid-top-tab icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-color-bluesteel.svg" name="Fourth Tab">
            Tab 4
        </lucid-top-tab>
    </lucid-top-tabs>
</div>