<div id="main-header">
  <section class="header-left">
    <div id="documents"><ng-include src="'http://particle.golucid.co/components/3.0/icon/icons/icon-folder-22px.svg'" class="lucid-icon-22"></ng-include></div>
    <ul id="file-menu">
      <li>File</li>
      <li>Edit</li>
      <li>View</li>
      <li>Insert</li>
      <li>Arrange</li>
      <li>Share</li>
      <li>Help</li>
    </ul>
    <span class="save-text">{{savetext}}</span>
  </section>
  <section class="header-middle">
    <span id="page-name">{{$root.currentPage.name}}</span>
  </section>
  <section class="header-right">
    <ul class="collaborators">
      <li>
        <img src="img/collaborator.jpg">
      </li>
    </ul>
    <lucid-button class="lucid-blue" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-person-18px.svg">Share</lucid-button>
    <span class="line"></span>
    <div class="dd-arrow">Account</div>
  </section>
</div>