<h1>Angular Snippets - For Designers</h1>
<div class="hr"></div>
<p>We've put together a lot of code snippets to help designers use angularjs to make interactive prototypes. These are all done using pure angularjs and ng-animate. If you go through these examples top to bottom, you should have a basic understanding of how to use angular to your advantage. There is so much you can do with angular, but these examples focus on quick, fast, and dirty code for prototyping an interactive interface.</p>
<p>Note: This code is not intended to build a full scale app.</p>
<div class="icon-search ng-scope">
    <input ng-model="searchResults" placeholder="Search Snippets">
    <img src="components/0.0/icon/img/search-dark.svg">
</div>
<div ng-repeat="snippet in snippets | filter: searchResults">
    <h2>{{snippet.title}}</h2>
    <p>{{snippet.description}}</p>
    <iframe class="codepen-iframe" ng-if="snippet.codepen" height='350' scrolling='no' ng-src='{{getIframeSrc(snippet.codepen)}}' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
    </iframe>
</div>