<h1>{{components[0].groupname}}</h1>
<div class="hr"></div>
<div ng-repeat="particle in components[0].components">
    <h2>Component: {{particle.title}}</h2>
    <p>{{particle.description}}</p>
    <div class="code-preview">
        <header ng-class="{'basic-active': showBasic, 'code-active': showAdvanced}">
            <h2 class="reversed-header">{{particle.title}}</h2>
            <div class="control" ng-click="showAdvanced = !showAdvanced; showBasic = false;" ng-class="{'active': showAdvanced}">
                <i class="particon particon-code"></i>
                <span>Code</span>
            </div>
            <div class="control" ng-click="showBasic = !showBasic; showAdvanced = false;" ng-class="{'active': showBasic}">
                <i class="particon particon-angular"></i>
                <span>Basic</span>
            </div>
        </header>
        <div class="drawer-wrapper lucid-animate" ng-hide="!showBasic && !showAdvanced">
            <div class="drawer">
                <header>
                    <span ng-init="drawer = 'html'" ng-click="drawer = 'html'" ng-class="{'active': drawer == 'html'}">HTML</span>
                    <span ng-click="drawer = 'less'" ng-class="{'active': drawer == 'less'}">LESS</span>
                    <span ng-show="showBasic && particle.inputs" ng-click="drawer = 'inputs'" class="lucid-animate component-inputs" ng-class="{'active': drawer == 'inputs'}">INPUTS</span>
                </header>
                <div class="scroll-area" ng-show="showBasic">
                    <div class="html-content lucid-animate" ng-show="drawer == 'html'">
                        <div hljs language="HTML" include="componentPath+particle.componentid+'/lucid-'+particle.componentid+'-basic.html'"></div>
                    </div>
                    <div class="less-content lucid-animate" ng-show="drawer == 'less'">
                        <div hljs language="css" include="componentPath+particle.componentid+'/lucid-'+particle.componentid+'.less'"></div>
                    </div>
                    <div class="inputs-content lucid-animate" ng-show="drawer == 'inputs'">
                        <table class="lucid-table" style="margin:0;">
                            <thead>
                                <tr>
                                    <th>Attr</th>
                                    <th>Type</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="input in particle.inputs">
                                    <td><span class="lucid-code-name">{{input.name}}</span></td>
                                    <td>{{input.type}}</td>
                                    <td>{{input.details}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="scroll-area" ng-show="showAdvanced">
                    <div class="html-content" ng-show="!less">
                        <div hljs language="HTML" include="componentPath+particle.componentid+'/lucid-'+particle.componentid+'.html'"></div>
                    </div>
                    <div class="less-content" ng-show="less">
                        <div hljs language="css" include="componentPath+particle.componentid+'/lucid-'+particle.componentid+'.less'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="component-preview" ng-include src="componentPath+particle.componentid+'/lucid-'+particle.componentid+'-basic.html'">
        </div>
        <lucid-notification type="information">Component for prototyping only. Not ready for production.
        </lucid-notification>
    </div>
</div>