<h1>Getting Started with Prototyping</h1>
<div class="hr"></div>
<h2>Step 1</h2>
<p>Click on Settings, and paste the following code into the "Stuff for &lt;head&gt;" area, and click Save.</p>
<div hljs language="HTML" include="'../templates/code/step-1.html'"></div>
<div class="hr"></div>
<h2>Step 2</h2>
<p>Make sure your app includes ng-app.</p>
<div hljs language="HTML" include="'../templates/code/step-2.html'"></div>
<div class="hr"></div>
<h2>Step 3</h2>
<p>Copy and paste away!</p>

<div hljs language="HTML" include="'../templates/code/step-3.html'"></div>
