<div class="wrapper">
    <h1>Latest Prototypes</h1>
    <div class="hr"></div>
    <div class="icon-list-container clearfix">
            <div class="particle-icon-wrapper" ng-repeat="prototype in prototypes">
                <lucid-buttcon-popover class="lucid-icon popover-list" showpopover="dropdown.show" icon="{{prototype.icon}}" width="105">
                    <div class="lucid-select-wrapper">
                        <ul class="lucid-select-dropdown" ng-click="dropdown.show = false;">
                            <a href="{{prototype.url}}.zip" download="{{prototype.url}}.zip">
                                <li class="lucid-select-option">Download</li>
                            </a>
                            <a href="{{prototype.url}}/index.html">
                                <li class="lucid-select-option">View prototype</li>
                            </a>
                        </ul>
                    </div>
                </lucid-buttcon-popover>
                <h5>{{prototype.title}}</h5>
            </div>
        </div>
</div>


