<h1>Lucid Particle Design</h1>
<div class="hr"></div>
<h2>Introduction</h2>
<p>Lucid Particle design is a living project that helps us prototype quickly, iterate fast over new design concepts, and show interactive mockups to customers.</p>
<h2>Designers</h2>
<p>Use the components to make quick interactive prototoypes. Head over the the <a href="">Angular Snippets</a> tab to learn quick ways to create interactions.</p>
<div class="hr"></div>
<h2>Developers</h2>
<p>Use the transitions and interactions of each component as a guide to help you code. Note: we are designers, not developers, copy code at your own risk.</p>