<lucid-buttcon icon="http://particle.golucid.co/components/4.0/icons/svg/icon-arrow-22px.svg" label="next"></lucid-buttcon>

<lucid-buttcon icon="http://particle.golucid.co/components/4.0/icons/svg/icon-gear-22px.svg" label="Settings"></lucid-buttcon>
<lucid-buttcon icon="http://particle.golucid.co/components/4.0/icons/svg/icon-link-22px.svg" label="Text"></lucid-buttcon>
<lucid-buttcon icon="http://particle.golucid.co/components/4.0/icons/svg/icon-link-22px.svg" label="Text" class="active"></lucid-buttcon>

<lucid-buttcon icon="http://particle.golucid.co/components/4.0/icons/svg/icon-link-22px.svg" label="Text" badge="1" class="active"></lucid-buttcon>

<lucid-buttcon icon="http://particle.golucid.co/components/1.1/icon/img/crop-14px.svg" label="Crop" class="condensed"></lucid-buttcon>